.yith-wcbk-form-section-duration--type-customer , .quantity , .product-quantity
{
    visibility: hidden;
    max-height: 2px;
}

/* ocultar A y De y duracion en carrito 
 */
.variation-De, .variation-A, .variation-Duracin {
	height: 0px !important;
	overflow: hidden;
	opacity: 0;
	padding: 0 !important;
	margin: 0 !important;
	
}


